@model LancheListViewModel

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
          @* <partial name="_LanchesResumo" for="@lanche"/> *@
            @await Html.PartialAsync("_LanchesResumo", lanche)
        }
    </div>
</div>