@model IEnumerable<LanchesMac.Models.Lanche>

<div>
    <h2>Todos os Lanches</h2>
</div>

@foreach(var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"></p>
        <h3>Preço : @lanche.Preco.ToString("c")</h3>
    </div>
}