@model Lanche

<div class="col-sm-4 col-md-4 col-lg-4">
    <p><img src="@Model.ImagemUrl" class="img-fluid"></p>
    <h3>Preço : @Model.Preco.ToString("c")</h3>
    <h4>@Model.Nome</h4>
    <p>@Model.DescricaoCurta</p>
</div>